@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

/* общие свойства */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  font-style: normal;
  font-weight: 400;
  color: #333333;
  background-color: #f2f2f2;
}

.main-container {
  flex-grow: 1;
}

.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.2);
  background-color: #ffffff;
}

.listing {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.button {
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-align: center;
  color: #ffffff;
  background-color: #756157;
  text-decoration: none;
  text-transform: uppercase;
  padding: 8px 34px;
  border-radius: 4px;
}

.button:hover,
.button:focus {
  background-color: #615048;
}

.button:active {
  background-color: #756157;
  color: rgba(255, 255, 255, 0.3);
}

.button.disabled {
  background-color: #e5e5e5;
}

/* блок с навигацией */
.navigation-item {
  position: relative;
}

.navigation-link-current::before {
  position: absolute;
  right: 16px;
  bottom: 0;
  left: 16px;
  height: 2px;
  background-color: #756257;
  content: "";
}

.navigation {
  display: flex;
  height: 64px;
  padding-left: 70px;
  padding-right: 70px;
}

.navigation-list {
  display: flex;
  margin-left: 30px;
}

.navigation-item {
  padding: 20px 16px;
}

.navigation-user {
  display: flex;
  margin-left: auto;
}

.navigation-user-item {
  padding: 22px 12px;
}

.navigation-link {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  text-align: center;
  color: #000000;
  text-decoration: none;
}

/* блок main-hero */
.main-hero {
  background-image: url("../images/index-background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-color: antiquewhite;
  min-height: 485px;
  text-align: center;
}

.main-hero-image {
  margin-top: 51px;
}

/* общие свойства для блоков advantage и services*/

.subtitle {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  margin-top: 0;
  color: #000000;
}

.title {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  margin-top: 0;
  color: #000000;
}

.caption {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-transform: uppercase;
  color: #000000;
  margin: 0;
}

/* блок advantages*/
.advantages-title-container {
  height: 261px;
  margin: 0 auto;
  padding: 69px 274px;
  text-align: center;
}

.advantages-item {
  position: relative;
  width: 400px;
  height: 385px;
  padding: 112px 85px;
  text-align: center;
}

.line::before {
  position: absolute;
  right: 170px;
  bottom: 185px;
  left: 170px;
  height: 2px;
  background-color: rgba(0, 0, 0, 0.3);
  content: "";
}

.advantages-list {
  display: flex;
  padding: 0;
  margin: 0 auto;
}

.advantages-container {
  display: flex;
  height: 385px;
}

.advantages-description {
  padding: 0;
  margin: 0;
  margin-top: 62px;
}

/* блок services*/
.services-title-container {
  margin: 0 auto;
  padding: 64px 348px;
  text-align: center;
}

.services-list {
  display: flex;
  margin: 0 auto;
  padding: 0;
  height: 385px;
}

.services-item {
  padding: 81px 85px;
  width: 400px;
  text-align: center;
}

.services-subtitle {
  padding-top: 102px;
}

.services-description {
  margin: 0;
  padding-top: 30px;
}

.souvenirs {
  background-image: url("../images/souvenirs.svg");
  background-repeat: no-repeat;
  background-size: 75px 72px;
  background-position: 163px 81px;
}

.house {
  background-image: url("../images/house.svg");
  background-repeat: no-repeat;
  background-size: 75px 72px;
  background-position: 163px 81px;
}

.food {
  background-image: url("../images/food.svg");
  background-repeat: no-repeat;
  background-size: 75px 72px;
  background-position: 163px 81px;
}

/* часть цветов и свойств для блоков advantages и services*/
.darkcolored {
  position: relative;
  color: #ffffff;
  background-color: #82b3d3;
  padding: 102px 85px;
  margin: 0 auto;
  width: 400px;
  text-align: center;
}

.line-darkblock::before {
  position: absolute;
  right: 170px;
  bottom: 195px;
  left: 170px;
  height: 2px;
  background-color: rgba(255, 255, 255, 0.3);
  content: "";
}

.lightcolored {
  background-color: rgba(131, 179, 211, 0.12);
}

.mediumcolored {
  background-color: rgba(131, 179, 211, 0.2);
}

.caption-light {
  color: #ffffff;
}

/* блок с переходом на страницу Гостиницы*/

.hotels-wrap {
  width: 592px;
  margin: 0 auto;
  padding-top: 96px;
  padding-bottom: 96px;
  text-align: center;
}

.btn {
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  color: #ffffff;
}

.btn:hover,
.btn:focus {
  background-color: #615048;
}

.btn:active {
  background-color: #756157;
  color: rgba(255, 255, 255, 0.3);
}

.btn.disabled {
  background-color: #e5e5e5;
}

.hotels-button {
  display: block;
  background-color: #756157;
  padding: 8px 50px;
  border-radius: 4px;
  width: 376px;
  height: 52px;
  margin: 0 auto;
}

.hotels-text {
  margin-bottom: 54px;
}

/* блок подписки*/
.newsletter {
  background-image: url("../images/subscribe.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  color: #ffffff;
  padding-top: 96px 258px 104px;
}

.newsletter-wrap {
  max-width: 684px;
  margin: 0 auto;
}

.newsletter-container {
  text-align: center;
  padding-top: 96px;
  padding-bottom: 54px;
}

.newsletter-lead {
  color: #ffffff;
  margin-bottom: 20px;
}

.newsletter-field::placeholder {
  color: #000000;
  opacity: 0.6;
}

.newsletter-form {
  display: flex;
  padding-bottom: 104px;
}

.newsletter-field {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 24px;
  width: 452px;
  background-color: #f2f2f2;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  border-color: transparent;
}

.btn-colored {
  font-family: "PT Sans", sans-serif;
  background-color: #82b3d3;
  padding: 8px 50px;
  border: 0;
  width: 232px;
}

.btn-colored:hover,
.btn-colored:focus {
  background-color: #68a2ca;
}

.btn-colored:active {
  background-color: #82b3d3;
  color: rgba(255, 255, 255, 0.3);
}

.btn-colored.disabled {
  background-color: #e5e5e5;
}

.button-newsletter {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.text {
  font-size: 22px;
  line-height: 26px;
  padding: 0;
  margin: 0 auto;
}

/* блок футра с контактами*/
.page-footer a {
  color: #000000;
  text-decoration: none;
}

.footer-contacts-phone {
  font-size: 40px;
  line-height: 40px;
  font-style: normal;
  color: #000000;
}

.footer-contacts-phone:hover {
  color: #756157;
}

.footer-contacts-phone:active {
  color: rgba(117, 97, 87, 0.3);
}

.footer-contacts {
  padding: 5px 195px;
  margin-left: 41px;
}

.footer-social-list {
  display: flex;
  padding-top: 5px;
  padding-bottom: 5px;
  width: 142px;
  gap: 27px;
}

.footer-social-item {
  position: relative;
  padding: 13px 11px;
}

.footer-social-icon {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
}

.button-social:hover svg {
 fill:  #68A2CA
}

.page-footer-container {
  display: flex;
  margin: 0;
  padding: 40px 70px 30px;
}

.footer-logo {
  margin-left: auto;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 41px;
}

.footer-logo:hover svg {
  fill: #756157;
}

/* блок страницы каталога с фильтрами*/
.hotels-inner {
  background-image: url("../images/filter.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  color: #ffffff;
  background-color: #000000;
  padding: 35px 70px 70px;
}

.catalog-hotels-container {
  display: flex;
  padding-top: 50px;
  padding-left: 70px;
  padding-right: 70px;
  min-height: 49px;
}

.filter-hotels-container {
  display: flex;
  gap: 140px;
}

.filter-price-container {
  display: flex;
  margin: 0 auto;
  padding: 0;
}

.catalog-filter-list {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.catalog-filter-group {
  border: none;
  padding: 0;
  margin: 0;
  width: 150px;
}

.catalog-filter-price {
  width: 288px;
  border: 0;
  padding: 0;
  margin: 0;
  flex-shrink: 0;
}

.filter-row {
  display: flex;
  gap: 70px;
}

.inner-header-lead {
  font-size: 60px;
  line-height: 78px;
  font-weight: 700;
  padding: 0;
  margin: 0;
}

.breadcrumbs {
  display: flex;
  font-size: 16px;
  line-height: 21px;
  padding-bottom: 40px;
  gap: 10px;
}

.breadcrumbs-link {
  color: #ffffff;
  text-decoration: none;
}

.breadcrumbs-item {
  padding: 4px 1px;
}

.catalog-filter-title {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
}

.catalog-filter-item {
  font-size: 18px;
  line-height: 23px;
}

.price-field::placeholder {
  color: #000000;
  opacity: 1;
}

.price-field {
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 18px;
  width: 100%;
  min-height: 48px;
  background-color: #f2f2f2;
  border-radius: 4px;
}

.catalog-filter-title {
  margin-bottom: 32px;
}

.button-apply {
  width: 191px;
  margin-bottom: 32px;
  border-radius: 4px;
}

.button-drop {
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-align: center;
  color: #ffffff;
  width: 191px;
  text-decoration: none;
  text-transform: uppercase;
  background-color: transparent;
  padding: 8px 57px;
  margin: 0;
  min-height: 36px;
  border: 0;
  border-radius: 4px;
}

.button-drop:hover .button-drop:active {
  color: rgba(255, 255, 255, 1);
}

.button-drop:focus {
  border: 3px solid #83b3d3;
}

.button-drop.disabled {
  color: rgba(255, 255, 255, 1);
  opacity: 10%;
}

.filter-buttons {
  padding-top: 56px;
}

.select-control {
  font-family: "PT Sans";
  font-style: normal;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  margin-left: 200px;
  border: 2px solid #e5e5e5;
  border-radius: 4px;
  width: 292px;
}

/* блок страницы с отелями*/
.catalog-hotels-lead {
  padding: 7px;
  margin: 0;
}

.catalog-hotels-viewlist {
  display: flex;
  margin-left: auto;
  gap: 8px;
}

.control-input {
  width: 20px;
  height: 20px;
  padding: 10px;
  margin: 0;
}

.catalog-hotels-viewitem a {
  color: #000000;
  text-decoration: none;
}

.catalog-hotels-viewitem {
  padding: 17px 16px;
  border: 2px solid #e5e5e5;
  border-radius: 4px;
}

.viewitem-current {
  border: 2px solid #000000;
  border-radius: 4px;
}

.hotels-card {
  padding: 20px 20px;
  border: 1px solid;
  border-color: rgba(230, 230, 230, 1);
  border-radius: 4px;
  margin: 0;
}

.hotels-card-container {
  display: grid;
  grid-template-columns: 340px 340px 340px;
  gap: 20px;
  padding: 40px 70px;
}

.hotels-card-title {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  padding-top: 16px;
  margin: 0;
}

.hotels-card-row {
  display: flex;
  padding-top: 16px;
  padding-bottom: 16px;
  margin: 0;
}

.hotels-card-description {
  padding: 0;
  margin: 0;
  width: 50%;
}

.hotels-button-row {
  display: flex;
  padding: 0;
  margin: 0;
  gap: 20px;
  flex-shrink: 0;
}

.hotels-favourites {
  font-family: "PT Sans", sans-serif;
  width: 140px;
  height: 36px;
  padding: 8px 18px;
  text-align: center;
  border-radius: 4px;
}

.hotels-card-button {
  width: 140px;
  text-align: center;
  padding: 8px 26px;
  border-radius: 4px;
}

.hotels-card-price {
  padding: 0;
  margin: 0;
  width: 50%;
  text-align: end;
}

.hotels-card-link {
  color: inherit;
  text-decoration: none;
}

.btn-favourites {
  font-family: "PT Sans", sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-align: center;
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  background-color: #7db54f;
  border: 0;
  width: 140px;
  height: 36px;
  padding: 8px 16px;
  border-radius: 4px;
}

.btn-favourites:hover {
  background-color: #6c9e42;
}
.btn-favourites:focused {
  background-color: #6c9e42;
}

.btn-favourites:active {
  background-color: #7db54f;
  color: rgba(255, 255, 255, 0.3);
}

.btn-favourites.disabled {
  background-color: #e5e5e5;
}

.hotels-rating-row {
  display: flex;
  padding: 0;
  margin: 0;
}

.hotels-rating {
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  text-align: end;
  background-color: #f2f2f2;
  padding: 9px 22px 8px 23px;
  margin: 0;
  margin-top: 16px;
  border-radius: 4px;
}

.stars {
  padding-right: 52px;
  background-image: url("../images/star.svg"), url("../images/star.svg"),
    url("../images/star.svg"), url("../images/star.svg");
  background-repeat: no-repeat;
  background-size: 16px 16px;
  background-position: right 20px, right 20px, right 20px, right 20px;
}

.catalog-hotels {
  padding: 0;
  margin: 0;
}

/* блок пагинации*/
.pagination {
  display: flex;
  gap: 8px;
  padding: 0 70px 60px 70px;
}

.pagination-item {
  width: 60px;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
  color: #ffffff;
  background-color: #82b3d3;
  text-transform: uppercase;
  padding: 11px 24px 12px 24px;
  border-radius: 4px;
}

.pagination-double {
  padding: 11px 18px 12px 18px;
}

.dots {
  font-size: 22px;
  line-height: 26px;
  background-color: #ffffff;
  color: #000000;
}

.pagination-link {
  color: inherit;
  text-decoration: none;
}

.pagination-current {
  color: #000000;
  background-color: #f2f2f2;
}

/* блок подписки для страницы с каталогом*/
.newsletter-lead-catalog {
  margin-bottom: 20px;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
}

.newsletter-catalog {
  padding-top: 96px;
  padding-bottom: 104px;
}
