@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

/* общие свойства */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  font-style: normal;
  font-weight: 400;
  color: #333333;
  background-color: #f2f2f2;
}

.main-container {
  flex-grow: 1;
}

.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.2);
  background-color: #ffffff;
}

.listing {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.button {
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-align: center;
  color: #ffffff;
  background-color: #756157;
  text-decoration: none;
  text-transform: uppercase;
  padding: 8px 34px;
  border-radius: 4px;
}

.button:hover,
.button:focus {
  background-color: #615048;
}

.button:active {
  background-color: #756157;
  color: rgba(255, 255, 255, 0.3);
}

.button.disabled {
  background-color: #e5e5e5;
}

/* блок с навигацией */
.navigation-item {
  position: relative;
}

.navigation-link-current::before {
  position: absolute;
  right: 16px;
  bottom: 0;
  left: 16px;
  height: 2px;
  background-color: #756257;
  content: "";
}

.navigation {
  display: flex;
  padding-left: 70px;
  padding-right: 70px;
}

.navigation-list {
  display: flex;
  margin-left: 30px;
  flex-wrap: wrap;
  max-width: 400px;
}

.navigation-user {
  display: flex;
  margin-left: auto;
}

.navigation-link {
  display: inline-block;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  text-align: center;
  color: #000000;
  text-decoration: none;
  padding: 20px 16px;
}

.navigation-user-button {
  align-self: center;
}

.navigation-link-search {
  display: inline-block;
  background-image: url("../images/search.svg");
  background-repeat: no-repeat;
  background-position: center;
  width: 44px;
  height: 100%;
}

.navigation-link-favourite {
  position: relative;
  display: inline-block;
  background-image: url("../images/favourite.svg");
  background-repeat: no-repeat;
  background-position: center;
  width: 44px;
  height: 100%;
  margin-right: 20px;
}

.likes-number {
  position: absolute;
  font-size: 10px;
  line-height: 10px;
  font-weight: 400;
  color: #ffffff;
  background-color: #7db54f;
  border-radius: 10px;
  padding: 5px;
  top: 11px;
  left: 20px;
}
.logo {
  display: block;
}

.logo-link {
  display: block;
  margin-bottom: -6px;
}

/* блок main-hero */
.main-hero {
  background-image: url("../images/index-background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-color: antiquewhite;
  min-height: 485px;
  text-align: center;
}

.main-hero-image {
  margin-top: 51px;
}

/* общие свойства для блоков advantage и services*/

.subtitle {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  margin-top: 0;
  color: #000000;
}

.title {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0;
  color: #000000;
}

.caption {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-transform: uppercase;
  color: #000000;
  margin: 0;
}

/* блок advantages*/
.advantages-title-container {
  margin: 0 auto;
  padding: 69px 274px 90px 274px;
  text-align: center;
}

.advantages-item {
  position: relative;
  width: 400px;
  padding: 112px 85px;
  text-align: center;
}

.line::before {
  position: absolute;
  right: 170px;
  bottom: 185px;
  left: 170px;
  height: 2px;
  background-color: rgba(0, 0, 0, 0.3);
  content: "";
}

.advantages-list {
  display: flex;
  padding: 0;
  margin: 0 auto;
}

.advantages-container {
  display: flex;
}

.advantages-lead {
  margin-bottom: 25px;
}

.advantages-description {
  padding: 0;
  margin: 0;
  margin-top: 62px;
}

/* блок services*/
.services-title-container {
  margin: 0 auto;
  padding: 64px 348px;
  text-align: center;
}

.services-list {
  display: flex;
  margin: 0 auto;
  padding: 0;
}

.services-item {
  padding: 81px 85px;
  width: 400px;
  text-align: center;
}

.services-subtitle {
  padding-top: 102px;
}

.services-description {
  margin: 0;
  padding-top: 30px;
}

.services-lead {
  margin-bottom: 20px;
}

.souvenirs {
  background-image: url("../images/souvenirs.svg");
  background-repeat: no-repeat;
  background-size: 75px 72px;
  background-position: 163px 81px;
}

.house {
  background-image: url("../images/house.svg");
  background-repeat: no-repeat;
  background-size: 75px 72px;
  background-position: 163px 81px;
}

.food {
  background-image: url("../images/food.svg");
  background-repeat: no-repeat;
  background-size: 75px 72px;
  background-position: 163px 81px;
}

/* часть цветов и свойств для блоков advantages и services*/
.darkcolored {
  position: relative;
  color: #ffffff;
  background-color: #82b3d3;
  padding: 102px 85px;
  margin: 0 auto;
  width: 400px;
  text-align: center;
}

.line-darkblock::before {
  position: absolute;
  right: 170px;
  bottom: 195px;
  left: 170px;
  height: 2px;
  background-color: rgba(255, 255, 255, 0.3);
  content: "";
}

.lightcolored {
  background-color: rgba(131, 179, 211, 0.12);
}

.mediumcolored {
  background-color: rgba(131, 179, 211, 0.2);
}

.caption-light {
  color: #ffffff;
}

/* блок с переходом на страницу Гостиницы*/

.hotels-wrap {
  width: 592px;
  margin: 0 auto;
  padding-top: 96px;
  padding-bottom: 96px;
  text-align: center;
}

.btn {
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  color: #ffffff;
}

.btn:hover,
.btn:focus {
  background-color: #615048;
}

.btn:active {
  background-color: #756157;
  color: rgba(255, 255, 255, 0.3);
}

.btn.disabled {
  background-color: #e5e5e5;
}

.hotels-button {
  display: block;
  background-color: #756157;
  padding: 8px 50px;
  border-radius: 4px;
  width: 376px;
  margin: 0 auto;
}

.hotels-text {
  margin: 0;
  margin-top: 20px;
  margin-bottom: 54px;
  font-size: 22px;
  line-height: 26px;
  font-style: normal;
}

/* блок подписки*/
.newsletter {
  background-image: url("../images/subscribe.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  color: #ffffff;
  padding-top: 96px 258px 104px;
}

.newsletter-wrap {
  max-width: 684px;
  margin: 0 auto;
}

.newsletter-container {
  text-align: center;
  padding-top: 96px;
  padding-bottom: 54px;
}

.newsletter-lead {
  color: #ffffff;
  margin-bottom: 20px;
}

.newsletter-field::placeholder {
  color: #000000;
  opacity: 0.6;
}

.newsletter-form {
  display: flex;
  padding-bottom: 104px;
}

.newsletter-field {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 24px;
  width: 452px;
  background-color: #f2f2f2;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  border-color: transparent;
  padding-left: 18px;
}

.btn-colored {
  font-family: "PT Sans", sans-serif;
  background-color: #82b3d3;
  padding: 8px 50px;
  border: 0;
  width: 232px;
}

.btn-colored:hover,
.btn-colored:focus {
  background-color: #68a2ca;
}

.btn-colored:active {
  background-color: #82b3d3;
  color: rgba(255, 255, 255, 0.3);
}

.btn-colored.disabled {
  background-color: #e5e5e5;
}

.button-newsletter {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.text {
  font-size: 22px;
  line-height: 26px;
  padding: 0;
  margin: 0 auto;
}

/* блок футра с контактами*/
.page-footer a {
  color: #000000;
  text-decoration: none;
}

.footer-contacts-phone {
  font-size: 40px;
  line-height: 40px;
  font-style: normal;
  color: #000000;
}

.footer-contacts-phone:hover,
.footer-contacts-phone:focus {
  color: #756157;
}

.footer-contacts-phone:active {
  color: rgba(117, 97, 87, 0.3);
}

.footer-contacts {
  padding: 5px 195px;
  margin-left: 42px;
}

.footer-social-list {
  display: flex;
  padding-top: 5px;
  padding-bottom: 5px;
}

.button-social {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 47px;
  height: 40px;
}

.button-social svg {
  fill: #83b3d3;
}

.button-social:hover svg,
.button-social:focus svg {
  fill: #68a2ca;
}

.page-footer-container {
  display: flex;
  margin: 0;
  padding: 40px 70px 30px;
}

.footer-logo {
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 41px;
}

.footer-logo svg {
  fill: #000000;
}

.footer-logo:hover svg,
.footer-logo:focus svg {
  fill: #756157;
}

.footer-logo:active svg {
  fill: rgba(117, 97, 87, 0.3);
}

.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 100%;
  background-color: rgba(242, 242, 242, 0.8);
}

.modal {
  position: relative;
  margin: auto;
  padding: 64px 70px;
  background-color: #ffffff;
  color: #000000;
  border-radius: 30px;
}

.modal-hotels {
  width: 717px;
}

.modal-close-button {
  position: absolute;
  padding: 0;
  top: 64px;
  right: 52px;
  width: 52px;
  height: 52px;
  background-color: #f2f2f2;
  border: none;
  background-image: url("../images/close.svg");
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  border-radius: 50%;
}
.modal-close-button:hover {
  background-color: #e6e6e6;
}

.modal-close-button:focus {
  background-color: #e6e6e6;
  outline: 3px solid #83b3d3;
}

.modal-close-button:active {
  background-color: #e6e6e6;
  background-image: url("../images/close-grey.svg");
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

.modal-lead {
  margin: 0;
  margin-bottom: 64px;
  margin-right: 164px;
}

.modal-people-container {
  display: flex;
  padding: 0;
  margin: 0;
}

.hotels-form-field {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  background-color: #f2f2f2;
  border: none;
  padding: 12px 288px 12px 20px;
  margin: 0;
  border-radius: 4px;
  width: 440px;
  background-image: url("../images/calendar.svg");
  background-repeat: no-repeat;
  background-position: right 20px center;
  margin-bottom: 48px;
}

.hotels-form-field:hover {
  background-color: #e6e6e6;
  color: rgba(0, 0, 0, 0.6);
}

.hotels-form-field:focus {
  background-color: #e6e6e6;
  color: rgba(0, 0, 0, 0.6);
  outline: 3px solid #83b3d3;
}

.modal-hotels-button:hover,
.modal-hotels-button:focus {
  background-color: #68a2ca;
}

.modal-hotels-button:active {
  background-color: #68a2ca;
  color: rgba(255, 255, 255, 0.3);
}

.modal-hotels-button {
  width: 100%;
  height: 60px;
  border-radius: 10px;
  margin-top: 48px;
}

.field-group-date {
  display: flex;
  justify-content: space-between;
  position: relative;
  margin: 0;
}

.modal-datein-text {
  position: absolute;
  top: 216px;
  left: 207px;
  padding: 0;
  margin: 0;
  font-size: 16px;
  line-height: 21px;
  font-style: normal;
  padding-left: 20px;
  padding-right: 20px;
  color: #ff5757;
}

.modal-dateout-text {
  position: absolute;
  top: 312px;
  left: 207px;
  padding: 0;
  margin: 0;
  font-size: 16px;
  line-height: 21px;
  font-style: normal;
  padding-left: 20px;
  padding-right: 20px;
  color: #333333;
}

.people {
  width: 31px;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 20px;
  font-weight: 700;
  background-color: #f2f2f2;
  border: none;
  margin: 0;
  padding: 14px 10px;
  text-align: center;
}

.hotels-field-grownups {
  margin-left: 86px;
}

.hotels-field-children {
  margin-left: 122px;
}

.people::-webkit-outer-spin-button,
.people::-webkit-inner-spin-button {
  opacity: 0;
  margin: 0;
}

.grownups {
  position: relative;
}

.min-number-grownups {
  position: absolute;
  width: 40px;
  height: 48px;
  top: 0;
  left: 46px;
  background: #f2f2f2;
  background-image: url("../images/minus.svg");
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  cursor: pointer;
  padding: 0;
}

.max-number-grownups {
  position: absolute;
  width: 40px;
  height: 48px;
  top: 0;
  left: 117px;
  background: #f2f2f2;
  background-image: url("../images/plus.svg");
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  cursor: pointer;
  padding: 0;
}

.field-group-people {
  margin: 0;
  padding-top: 12px;
}

.field-group-children {
  margin-left: 127px;
}

.children {
  position: relative;
}

.min-number-children {
  position: absolute;
  width: 40px;
  height: 48px;
  top: 0;
  left: 82px;
  background: #f2f2f2;
  background-image: url("../images/minus.svg");
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  cursor: pointer;
  padding: 0;
}

.max-number-children {
  position: absolute;
  width: 40px;
  height: 48px;
  top: 0;
  left: 153px;
  background: #f2f2f2;
  background-image: url("../images/plus.svg");
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  cursor: pointer;
  padding: 0;
}

.min-number-grownups:hover,
.min-number-children:hover {
  background-image: url("../images/minus-black.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.max-number-grownups:hover,
.max-number-children:hover {
  background-image: url("../images/plus-black.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.min-number-grownups:focus,
.min-number-children:focus {
  background-image: url("../images/minus-black.svg");
  background-repeat: no-repeat;
  background-position: center;
  outline: 3px solid #82b3d3;
}

.max-number-grownups:focus,
.max-number-children:focus {
  background-image: url("../images/plus-black.svg");
  background-repeat: no-repeat;
  background-position: center;
  outline: 3px solid #82b3d3;
}

.modal-label {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  padding-top: 12px;
}

.modal-label-children {
  position: relative;
}

.tooltip-toggle {
  border: none;
  background-color: #ffffff;
  padding: 0;
}

.tooltip-icon {
  background-color: #83b3d3;
  width: 26px;
  height: 26px;
  border-radius: 50%;
  padding-top: 2px;
  padding-bottom: 2px;
}

.tooltip-text {
  background-color: #333333;
  box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.3);
  color: #ffffff;
  font-size: 16px;
  line-height: 20px;
  font-weight: normal;
  text-transform: none;
  padding: 15px 18px 18px 22px;
  border-radius: 10px;
  width: 256px;
  position: absolute;
  left: 100%;
  transform: translateX(-50%);
  z-index: 1;
  display: none;
  margin-top: 15px;
}

.tooltip-text::after {
  content: "";
  position: absolute;
  left: 125px;
  top: -18px;
  border: 9px solid transparent;
  border-bottom: 9px solid #333333;
}

.tooltip {
  position: absolute;
  margin-left: 11px;
}

.tooltip-toggle:hover + .tooltip-text,
.tooltip-toggle:focus + .tooltip-text {
  display: block;
}

.modal-container-close {
  display: none;
}

/* блок страницы каталога с фильтрами*/
.hotels-inner {
  background-image: url("../images/filter.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  color: #ffffff;
  background-color: #000000;
  padding: 35px 70px 70px;
}

.catalog-hotels-container {
  display: flex;
  padding: 50px 70px 38px 70px;
  min-height: 49px;
}

.filter-hotels-container {
  display: flex;
  gap: 140px;
  padding-top: 40px;
}

.filter-price-container {
  display: flex;
  margin: 0 auto;
  padding: 0;
  gap: 2px;
}

.catalog-price-from {
  position: relative;
}

.price-from {
  position: absolute;
  top: 13px;
  left: 107px;
  color: #000000;
  opacity: 0.3;
}

.catalog-price-to {
  position: relative;
}

.price-to {
  position: absolute;
  top: 13px;
  left: 104px;
  color: #000000;
  opacity: 0.3;
}

.catalog-filter-list {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.catalog-filter-group {
  border: none;
  padding: 0;
  margin: 0;
  width: 150px;
}

.catalog-filter-price {
  width: 288px;
  border: 0;
  padding: 0;
  margin: 0;
  flex-shrink: 0;
}

.filter-row {
  display: flex;
  gap: 70px;
}

.inner-header-lead {
  font-size: 60px;
  line-height: 78px;
  font-weight: 700;
  padding: 0;
  margin: 0;
}

.breadcrumbs {
  display: flex;
  font-size: 16px;
  line-height: 21px;
  gap: 28px;
  padding-top: 8px;
}

.breadcrumbs-link {
  color: #ffffff;
  text-decoration: none;
}

.breadcrumbs-item-home {
  position: relative;
}

.breadcrumbs-item-home::after {
  content: "";
  position: absolute;
  left: 25px;
  top: 5px;

  width: 6px;
  height: 10px;

  background-image: url("../images/breadcrumbs-arrow.svg");
  background-repeat: no-repeat;
  background-size: 6px 10px;
}

.breadcrumbs-link:hover {
  color: rgba(255, 255, 255, 0.6);
}

.breadcrumbs-link:active {
  color: rgba(255, 255, 255, 0.3);
}

.breadcrumbs-link:focus {
  color: #ffffff;
}

.footer-logo {
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 41px;
}

.breadcrumbs-link .path1 {
  fill: #ffffff;
}

.breadcrumbs-link .path2 {
  fill: #ffffff;
}

.breadcrumbs-link:hover .path1 {
  fill: rgba(255, 255, 255, 0.6);
}

.breadcrumbs-link:hover .path2 {
  fill: rgba(255, 255, 255, 0.6);
}

.breadcrumbs-link:active .path1 {
  fill: rgba(255, 255, 255, 0.3);
}

.breadcrumbs-link:active .path2 {
  fill: rgba(255, 255, 255, 0.3);
}

.breadcrumbs-link:focus .path1 {
  fill: #ffffff;
}

.breadcrumbs-link:focus .path2 {
  fill: #ffffff;
}

.catalog-filter-title {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
}

.catalog-filter-item {
  font-size: 18px;
  line-height: 23px;
}

.control {
  position: relative;
  display: block;
  padding: 0;
  padding-left: 36px;
}

.control-mark {
  position: absolute;
  top: 2px;
  left: 0;
  width: 20px;
  height: 20px;
  border-radius: 4px;
  background-color: #ffffff;
}

.control-input[type="checkbox"]:checked + .control-mark::before {
  position: absolute;
  top: 11px;
  left: 4px;
  width: 6px;
  height: 2px;
  background-color: #3f5e72;
  content: "";
}

.control-input[type="checkbox"]:checked + .control-mark::after {
  position: absolute;
  top: 9px;
  left: 6px;
  width: 12px;
  height: 2px;
  background-color: #3f5e72;
  content: "";
}

.control-input[type="checkbox"]:checked + .control-mark::before {
  transform: rotate(45deg);
}

.control-input[type="checkbox"]:checked + .control-mark::after {
  transform: rotate(-45deg);
}

.control-radio {
  position: relative;
  display: block;
  padding: 0;
  padding-left: 36px;
}

.control:hover .control-mark,
.control-label:hover {
  opacity: 0.6;
}

.control-input:focus + .control-mark {
  outline: 3px solid #83b3d3;
}

.control:active .control-mark,
.control-label:active {
  opacity: 0.3;
}

.radio-mark {
  position: absolute;
  top: 2px;
  left: 0;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #ffffff;
}

.radio-input[type="radio"]:checked + .radio-mark::before {
  position: absolute;
  top: 5px;
  left: 5px;
  width: 10px;
  height: 10px;
  background-color: #3f5e72;
  border-radius: 50%;
  content: "";
}

.control-radio:hover .radio-mark,
.radio-label:hover {
  opacity: 0.6;
}

.radio-input:focus + .radio-mark {
  outline: 3px solid #83b3d3;
}

.control-radio:active .radio-mark,
.radio-label:active {
  opacity: 0.3;
  outline: none;
}

.price-field::placeholder {
  color: #000000;
  opacity: 1;
}

.price-field {
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 18px;
  width: 100%;
  min-height: 48px;
  background-color: #f2f2f2;
  border: none;
  padding-right: 50px;
  padding-left: 20px;
}

.price-field-from {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

.price-field-to {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.price-field:hover {
  background-color: #e6e6e6;
}

.price-field:focus {
  background-color: #e6e6e6;
  outline: 3px solid #83b3d3;
}

/* Range */
.range-scale {
  position: relative;
  height: 4px;
  margin-top: 44px;
  background-color: rgba(255, 255, 255, 0.3);
}

.range-bar {
  position: absolute;
  height: 4px;
  background-color: #ffffff;
}

.range-toggle {
  position: absolute;
  width: 20px;
  height: 20px;
  background: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.range-toggle:hover {
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2);
}
.range-toggle:focus {
  outline: 3px solid #83b3d3;
}

.range-toggle:active {
  border: 2px solid #83b3d3;
}

.toggle-min {
  top: -8px;
  left: 0;
}

.toggle-max {
  top: -8px;
  left: 206px;
}

.price-field::-webkit-outer-spin-button,
.price-field::-webkit-inner-spin-button {
  appearance: 0;
  margin: 0;
}

.catalog-filter-title {
  margin-bottom: 32px;
  padding: 0;
}

.button-apply {
  width: 191px;
  margin-bottom: 32px;
  border-radius: 4px;
}

.button-drop {
  font-family: "PT Sans";
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  color: #ffffff;
  width: 191px;
  text-transform: uppercase;
  background-color: transparent;
  margin: 0;
  min-height: 36px;
  border: 0;
  border-radius: 4px;
}

.button-drop:hover,
.button-drop:active {
  color: rgba(255, 255, 255, 0.3);
}

.button-drop:focus {
  outline: 3px solid #83b3d3;
}

.button-drop.disabled {
  color: rgba(255, 255, 255, 0.1);
}

.filter-buttons {
  padding-top: 56px;
}

.select-control {
  font-family: "PT Sans";
  font-style: normal;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  border: 2px solid #e5e5e5;
  border-radius: 4px;
  width: 292px;
  padding: 13px 20px;
  appearance: none;
  margin-left: 200px;
  background-image: url("../images/select-arrow.svg");
  background-repeat: no-repeat;
  background-position: right 16px center;
}

.select-control:hover,
.select-control:focus {
  outline: 2px solid #68a2ca;
}

.select-control:disabled {
  outline: 2px solid rgba(0, 0, 0, 0.3);
  color: rgba(0, 0, 0, 0.3);
}

/* блок страницы с отелями*/
.catalog-hotels-lead {
  padding-top: 7px;
  padding-bottom: 7px;
  margin: 0;
}

.catalog-hotels-viewlist {
  display: flex;
  margin-left: 70px;
  gap: 8px;
}

.button-hotels {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;
  border: 2px solid #e5e5e5;
  border-radius: 4px;
}

.button-hotels:hover,
.button-hotels:active {
  border: 2px solid #000000;
  border-radius: 4px;
}

.button-hotels:focus {
  outline: 2px solid #68a2ca;
  border-radius: 4px;
}

.catalog-hotels-viewitem a {
  color: #000000;
  text-decoration: none;
}

.viewitem-current {
  border: 2px solid #000000;
  border-radius: 4px;
}

.hotels-card {
  padding: 20px 20px;
  border: 1px solid rgba(230, 230, 230, 1);
  border-radius: 4px;
  margin: 0;
}

.hotels-card-container {
  display: grid;
  grid-template-columns: 340px 340px 340px;
  gap: 18px 20px;
  padding: 0 70px 40px 70px;
}

.hotels-card-title {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  padding-top: 12px;
  margin: 0;
}

.hotels-card-row {
  display: flex;
  padding-top: 16px;
  padding-bottom: 16px;
  margin: 0;
}

.hotels-card-description {
  padding: 0;
  margin: 0;
  width: 50%;
}

.hotels-button-row {
  display: flex;
  padding: 0;
  margin: 0;
  gap: 20px;
  flex-shrink: 0;
}

.hotels-favourites {
  font-family: "PT Sans", sans-serif;
  width: 140px;
  height: 36px;
  padding: 8px 18px;
  text-align: center;
  border-radius: 4px;
}

.hotels-card-button {
  width: 140px;
  text-align: center;
  padding: 8px 26px;
  border-radius: 4px;
}

.hotels-card-price {
  padding: 0;
  margin: 0;
  width: 50%;
  text-align: end;
}

.hotels-card-link {
  color: inherit;
  text-decoration: none;
}

.btn-favourites {
  font-family: "PT Sans", sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-align: center;
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  background-color: #7db54f;
  border: 0;
  width: 140px;
  height: 36px;
  padding: 8px 16px;
  border-radius: 4px;
}

.btn-favourites:hover,
.btn-favourites:focus {
  background-color: #6c9e42;
}

.btn-favourites:active {
  background-color: #7db54f;
  color: rgba(255, 255, 255, 0.3);
}

.btn-favourites.disabled {
  background-color: #e5e5e5;
}

.hotels-rating-row {
  display: flex;
  align-items: center;
  margin-top: 16px;
}

.hotels-rating {
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  background-color: #f2f2f2;
  padding: 9px 22px 8px 23px;
  margin: 0;
  border-radius: 4px;
  margin-left: auto;
}

.stars {
  background-image: url("../images/star.svg");
  background-repeat: space;
  margin: 0;
  height: 17px;
}

.four-stars {
  width: 89px;
}

.three-stars {
  width: 66px;
}

.two-stars {
  width: 42px;
}

.catalog-hotels {
  padding: 0;
  margin: 0;
}

/* блок пагинации*/
.pagination {
  display: flex;
  position: relative;
  gap: 8px;
  padding: 37px 70px 60px 70px;
}

.pagination::before {
  position: absolute;
  top: 0;
  left: 70px;
  right: 70px;
  height: 1px;
  background-color: #E6E6E6;
  content: "";
}

.pagination-link {
  display: flex;
  justify-content: center;
  align-content: center;
  width: 60px;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
  color: #ffffff;
  background-color: #82b3d3;
  text-transform: uppercase;
  padding: 11px 24px 12px 24px;
  border-radius: 4px;
  text-decoration: none;
  height: 60px;
}

.pagination-double {
  padding: 11px 18px 12px 18px;
}

.pagination-dots {
  display: block;
  font-size: 22px;
  line-height: 26px;
  background-color: #ffffff;
  color: #000000;
  padding: 16px 21px 17px 21px;
}

.pagination-link:hover,
.pagination-link:focus {
  background-color: #68a2ca;
}

.pagination-link:active {
  background-color: #82b3d3;
  color: rgba(255, 255, 255, 0.1);
}

.pagination-current,
.pagination-current:hover,
.pagination-current:focus,
.pagination-current:active {
  color: #000000;
  background-color: #f2f2f2;
}

/* блок подписки для страницы с каталогом*/
.newsletter-lead-catalog {
  margin-bottom: 20px;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
}
